<div class="project-card">
  <div class="project-image">
    <% if project.image.attached? %>
      <%= image_tag project.image.variant(:medium), 
          class: "img-fluid rounded",
          alt: project.title %>
    <% else %>
      <%= image_tag "default-project.jpg", 
          class: "img-fluid rounded",
          alt: "Default project image" %>
    <% end %>
  </div>
  
  <div class="project-content">
    <h3 class="project-title"><%= project.title %></h3>
    <p class="project-description"><%= truncate(project.description, length: 150) %></p>
    
    <div class="project-technologies">
      <% project.technologies_array&.each do |tech| %>
        <span class="badge bg-primary"><%= tech %></span>
      <% end %>
    </div>
    
    <div class="project-links mt-3">
      <%= link_to "Learn More", project_path(project), class: "btn btn-primary btn-sm" %>
      
      <% if project.github_url.present? %>
        <%= link_to "GitHub", project.github_url, 
            class: "btn btn-secondary btn-sm",
            target: "_blank" %>
      <% end %>
      
      <% if project.live_url.present? %>
        <%= link_to "Live Demo", project.live_url, 
            class: "btn btn-success btn-sm",
            target: "_blank" %>
      <% end %>
    </div>
  </div>
</div>
